.row  
  .col-xs-12
    = form_for(@url_command, :html=> {class: "form-horizontal"} ) do |f|
      .form-group
        .form-inputs
          .div.form-group
            %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Model Name
            .col-sm-9
              = f.text_field :model_name, class: 'input-xxlarge' 
      .space-4

      .form-group
        .form-inputs
          .div.form-group
            %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Firmware Version
            .col-sm-9
              = f.text_field :firmware_version, class: 'input-xxlarge' 
      .space-4

      .form-group
        .form-inputs
          .div.form-group
            %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} CGI Name
            .col-sm-9
              = f.text_field :cgi_name, class: 'input-xxlarge' 
      .space-4
                                  
      - f.object.cgi_attributes.try(:each) do |key, value|
        = f.fields_for :cgi_attributes do |d|      
          = render :partial => 'attributes' , :locals => { f: f, column: key, d: d, value: value }

      .clearfix.form-actions
        .col-md-offset-3.col-md-9
          = f.submit 'save'
